doctype 5
html
    title Scrum Hub Dashboard
    head
        link(rel="stylesheet", href="/css/style.css")
        link(rel="stylesheet", href="/bootstrap/css/bootstrap.css")
        link(rel="stylesheet", href="/bootstrap/css/bootstrap-responsive.css")
        script(src="http://code.jquery.com/jquery-1.7.2.min.js")
        script(src="http://underscorejs.org/underscore.js")
        script(src="http://backbonejs.org/backbone.js")
        script
            var params = {
                project: "#{project}"
            };
        script(src="/js/model.js")
        script(src="/js/backlog.js")
    body
        header
            ul#spaces
                li: a(href="/#{project}/dashboard/") Dashboard
                li.current: a(href="/#{project}/backlog/") Product Backlog
                - if (!connected)
                    a(href="#{path}?connect=true") Connect
                - else
                    a(href="#{path}?disconnect=true") Disconnect

        #backlog-config
            ul#config-menu
                li#menu-edit backlog edit
                li#menu-assignment sprint assignment
            #assignment-config.config-pane
                span assign stories to sprint: 
                ul#sprints
            #edit-config.config-pane
                button#add-story add story
                span  fill a title to save new row on github
                p click on your stories to edit
        ul#backlog-content
